<%- include('../../partials/adminheader.ejs') %>
<div class="main-panel">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:void(0)">Usuários </a>
      </div>
      <%- include('../../partials/navbar.ejs') %>
<div class="content" >
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title "></h4>
              <p class="card-category">Usuários Cadastrados</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      ID
                    </th>
                    <th>
                      Nome
                    </th>
                    
                    <th>
                      e-mail
                    </th>
                    <th>
                      Ações
                    </th>
                  </thead>
                  <tbody>
                    <% user.map((usuario)=>{ %>
                    <tr>
                      <td>
                        <%= usuario.id %>
                      </td>
                      <td>
                        <%= usuario.name %>
                      </td>
                      <td>
                        <%= usuario.email %>
                      </td>
                      <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="/admin/user/edit/<%- usuario.id %>"" type="button" class="btn" style="background: #8630A0;">Editar</a>
                          <a href="/admin/user/users/<%- usuario.id %>"  type="button" class="btn btn-secondary"  style="background: #8630A0;" >Apagar</a>
                          
                        </div>
                      </td>
                      </tr>
                   <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
       
<%- include('../../partials/footer.ejs') %>